body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* ===== APP ===== */
.app {
  width: auto;
  margin: auto;
  padding: 20px;
  min-height: 100vh;
}

/* ===== THEMES ===== */
.dark {
  background: linear-gradient(135deg, #020617, #1e293b);
  color: white;
}

.light {
  background: #f8fafc;
  color: #020617;
}

/* ===== BUTTON ===== */
button {
  padding: 9px 22px;
  border-radius: 90px;
  border: none;
  background: #618595;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 0.85;
}

/* ===== ALERT ===== */
.alert {
  padding: 10px;
  margin-bottom: 12px;
  text-align: center;
  border-radius: 8px;
  background: #38bdf8;
}

.alert.error {
  background: #ef4444;
  color: white;
}

/* ===== CONTROLS ===== */
.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* ===== TEXT AREA ===== */
.paragraph {
  background: #020617;
  padding: 30px;
  border-radius: 14px;
  font-size: 22px;
  line-height: 40px;
  min-height: 230px;
  cursor: text;
}

.light .paragraph {
  background: white;
}

.correct { color: #22c55e; }
.wrong { color: #ef4444; }
.active { background: #38bdf8; color: black; }

/* ===== INPUT ===== */
.hiddenInput {
  position: absolute;
  opacity: 0;
}

/* ===== PROGRESS ===== */
.progressBar {
  height: 8px;
  margin: 12px 0;
  border-radius: 10px;
  background: #475569;
}

.progressBar div {
  height: 100%;
  border-radius: 10px;
  background: #38bdf8;
}

/* ===== FOOTER ===== */
.buttons {
  margin-top: 20px;
}

.results {
  margin-top: 20px;
  font-size: 15px;
}
